* {
 margin: 0;
 padding:0;
}
body {
  overflow: auto;
}
#container {
  background-color: white;
  width: 80%;
  height:auto;
  text-align: center;
  margin:auto;
  padding-bottom: 4em;
}
#quote{
  height: 30%;
  background-color: rgb(19, 19, 187);
}
#quote-text{
  padding-top: 2em;
  color: white;
  font-size: 1.5em;
  padding-bottom: 2em;
}

#summary-header{
  text-align: left;
  margin:1em;
}
#summary-metric-label{
  display:inline-block;
}

table {
  border-spacing: 1em;
  font-size: 1em;
}
#application-list{
  text-align: left;
}
#add-app {
  margin-right: 2em;
  top: 50%;
  font-size: 1.5em;
}

#application-header{
  margin: 1em;
  display: inline-block;
  text-align: left;
}
.app-instance{
  margin: 2em;
  display: flex;
  flex-wrap: wrap;

}
.app-banner{
  margin-top: 2em;
  width: 10%;
  height: 2em;
  margin-left: 1em;
}
td, th{
  padding-left: 1em;
}
.show-more{
  margin-top:2em;
  margin-left: 2em;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
form, label {
  margin: 2em;
}
#appSubmission, textarea {
  margin-left:2em;
}
#new-entry{
  margin-bottom: 4em;
}
